
<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Please Date Me</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

    <link rel="stylesheet" href="/resources/css/style.css">

</head>


<body bgcolor="#fd484b">
   <!-- maybe add section here -->
    <div class="hero is-danger is-bold">
       <div class="hero-body">
           <div class="container">
               <h1 class="title">
                   Login
               </h1>
               <h2 class="subtitle">
                   Change me
               </h2>
           </div>
       </div>
       <div class="hero-foot borderBottom"></div>
    </div>

    <div class="hero">
        <div class="hero-head">
            <br><br><br><br>
        </div>
        <div class="hero-body">


            <div class="box">

                <div class="field">
                    <div class="conrol">
                        <input class="input is-danger" type="email" placeholder="Username or email">
                    </div>
                </div>

                <div class="field">
                    <div class="conrol">
                        <input class="input is-danger" type="password" placeholder="Password">
                    </div>
                </div>

                <div class="columns">
                    <div class="column">
                        <input class="button is-danger" type="submit" value="Login">
                    </div>
                </div>

            </div>


        </div>
    </div>



</body>

</html>
